/* general styling */
body {
  background-color: #fff8f8;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}

h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black
}

li {
  line-height: 1.75em;
}

/* positioning */
.app {
  max-width: 1000px;
  margin: auto;
}

.app > div,
.portrait img {
  width: 50vw;
}

.portrait img {
  display: block;
  border-radius: 100%;
  margin-top: 2em;

  max-height: 75vh;
  height: auto;
  width: auto;
}

/* responsive design */
/* big screens */
@media only screen 
and (min-device-width: 851px) {
  .app {
    display: flex;
  }

  .about {
    margin-top: 10em;
  }
}

/* responsive design for small screens */
@media only screen 
and (max-device-width : 850px) {
  .app > div,
  .portrait img {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 50vh;
  }

  h1 {
    margin: .5em;
  }
}
